/* General page style */
/* NONE OF THIS IS NEEDED FOR THE PLUGIN TO WORK!!! */
main {
	width: 600px;
	margin: 0 auto;
	background-color: #F3F2FF;
	padding: 20px;
}
/* Some styling to make the lightbox and button pretty */
/* NONE OF THIS IS NEEDED FOR THE PLUGIN TO WORK!!! */
.dugme {
	width: 50px;
    margin: 20px auto;
    background-color: #9C1818;
    text-align: center;
    color: white;
    cursor: pointer;
}
.lightbox {
  width: 200px;
  height: 200px;
  background-color: red;
}
#close {
    cursor: pointer;
    width: 50px;
    height: 20px;
    background-color: #8E8888;
    margin: 10px auto;
    text-align: center;
    border-radius: 4px;
    color: white;}